```gitignore
# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*

# Logs and temp files
*.log
*.tmp

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py~
*.py.class
venv/
.venv/
.egg-info/
*.egg
*.so
*.dylib
*.dll
*.exe
*.out
*.o
*.obj
*.a
*.lib
*.pdb
*.dll.a
*.def
*.exp
*.ilk
*.iobj
*.ipdb
*.isln
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.VC.db
*.VC.VC.opendb
*.VC.opendb
*.VC.sln.cache
*.VC.user
*.VC.userosscache
*.VC.vcproj
*.VC.vcxproj
*.VC.vcxproj.user
*.VC.vcxproj.filters
*.VC.vcxproj.props
*.VC.vcxproj.targets
*.VC.vcxproj.rules
*.VC.vcxproj.xml
*.VC.vcxproj.filters.xml
*.VC.vcxproj.props.xml
*.VC.vcxproj.targets.xml
*.VC.vcxproj.rules.xml
*.VC.vcxproj.user.xml
*.VC.vcxproj.filters.user.xml
*.VC.vcxproj.props.user.xml
*.VC.vcxproj.targets.user.xml
*.VC.vcxproj.rules.user.xml
*.VC.vcxproj.user.filters
*.VC.vcxproj.user.props
*.VC.vcxproj.user.targets
*.VC.vcxproj.user.rules
*.VC.vcxproj.user.filters.xml
*.VC.vcxproj.user.props.xml
*.VC.vcxproj.user.targets.xml
*.VC.vcxproj.user.rules.xml
*.VC.vcxproj.user.filters.user.xml
*.VC.vcxproj.user.props.user.xml
*.VC.vcxproj.user.targets.user.xml
*.VC.vcxproj.user.rules.user.xml
*.VC.vcxproj.user.filters.user.props
*.VC.vcxproj.user.filters.user.targets
*.VC.vcxproj.user.filters.user.rules
*.VC.vcxproj.user.filters.user.props.xml
*.VC.vcxproj.user.filters.user.targets.xml
*.VC.vcxproj.user.filters.user.rules.xml
*.VC.vcxproj.user.filters.user.props.user.xml
*.VC.vcxproj.user.filters.user.targets.user.xml
*.VC.vcxproj.user.filters.user.rules.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.targets.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.rules.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.xml
*.VC.vcxproj.user.filters.user.props.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters.user.filters......
```